.custom-card {
  position: static;
  width: 282px;
  height: 110px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0px 0px 30px 0px !important;
}

.custom-card:hover {
  background-color: plum;
}

.mail {
  color: red;
  font-size: 13px;
}

.user-name {
  font-size: 17px;
}
